<!DOCTYPE html>
<html lang="en" class="terria">
  <head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <!-- Use Chrome Frame in IE -->
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="description" content="A web map built on Terria Map" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" type="image/svg+xml" href="favicons/favicon.svg" />
    <link rel="icon" type="image/png" href="images/icipe-logo.png" />
    <link rel="apple-touch-icon" href="images/icipe-logo.png" />
    <link rel="manifest" href="favicons/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#282D32" />
    <meta
      name="msapplication-TileImage"
      content="images/icipe-logo.png"
    />
    <meta name="theme-color" content="#282D32" />

    <title>Dudu Mapper</title>

    <!-- Leaflet -->
    <script>
      L_PREFER_CANVAS = true;
    </script>
  </head>

  <body>
    <div id="svg-sprites" style="display: none"></div>
    <div id="ui"></div>
  </body>
</html>
